@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
//save colors as a variable  object.
$colors: (
	primary: #0b090a,
	primary-light:lighten(#0b090a, 5%),
    secondary:#f5ebf0,
    secondary-dark: #b3a8ad,
    accent: #0165FF,
    accent-light:lighten(#0165FF, 10%),
    accent-dark:darken(#0165FF, 20%),
    btn:#6600ED,
    btn-dark: darken(#6600ED, 20%),
    btn-light: lighten(#6600ED, 10%),

    

);
//function to call colors()
@function color($color-name) {
    @return map-get($colors, $color-name)
};

body {
	height: 100vh;
	margin: 0;
    font-family: 'Montserrat','Lato', Arial, Helvetica, sans-serif;
    background: color(secondary);
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
img {
	width: 100%;
}

.nav-container {
    background: color(primary);

    a {
        color: color(secondary);
    }
    a:hover{
        color: color(accent);
        text-decoration: underline;
    }
}
header {
    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo {
        color: white;
		font-weight: bold;
        font-size: 1em;
        text-transform: uppercase;
    }

}


.social-header, .hero-design {
    display: none;
}

.hero {
    background: color(primary-light);
    color: color(secondary);
    display: grid;
    text-align: center;
    padding: 4em;
    h1{
        color: color(secondary-dark);
        letter-spacing: -3px;
    }
    h4{
        color: color(secondary);
        text-transform: uppercase;
        font-family: 'Montserrat';
        color: color(accent);
        font-weight: bold;
    }
}

.meet{
	display: flex;
	margin: 0 auto;
	width: 200px;
	font-weight: bold;
	color: color(secondary);
	
	.btn-container {
		margin-top: 2em;
		width: 100%;
		height: 100vh;
	
		.btn-bg,.btn-pulse {
			position: absolute;
			width: 50px;
			height: 50px;
			border-radius: 100%;
		}
	
		.btn-bg {
			animation: pulse 1.2s ease infinite;
			background: color(accent);
		}
		
		.btn-pulse {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			z-index: 99;
			border: none;
			background: color(accent);
			background-size: 18px;
			cursor: pointer;
            outline: none;
            i{
                padding: 12px;
                color: #fff;
            }
        }
        
		@keyframes pulse {
			0% {
				transform: scale(1.5, 1.5);
			}
			50% {
				opacity: 0.3;
			}
			100% {
				transform: scale(2);
				opacity: 0;
			}
		}
	}
	p{
        width: 200px;
        margin-top: 1em;
        margin-left: 3em;
        color: color(secondary-dark);
		font-weight: bolder;
	}
}

section {
    padding: 4em 2em;
	text-align: left;
}

.skills-title{
    text-transform: uppercase;
    font-weight: bold;
    color: color(accent);
    letter-spacing: .2em;
    font-size: .85em;
}
.about-img{
    position: relative;
	height: 350px;
    width: auto;
    margin-top: 2em;
}


.featured {
	background:color(secondary);
    position: relative;

	img{
		border-radius: 1em;
    }
    a b{
        color: color(accent);
        text-decoration: none;
    }

}

.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    color:  color(accent);
    letter-spacing: .2em;
    font-size: .85em;
}

.featured-title{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc{
    color: #8a8585;
    margin-bottom: 1em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}
.featured-list{
    color: #8a8585;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(2, minmax(160px, 200px));
    text-align: left;
    margin: 1em;
    list-style-type: circle;
}


.skills {
    background: color(primary-light);
    height: auto;
	.skills-text{
		color: color(secondary);
	}
	.skills-title{
		text-transform: uppercase;
		font-weight: bold;
		color: color(accent);
		letter-spacing: .2em;
		font-size: .85em;
	}
}

#skills{
    margin: 1em 0;
}
.skills{
    text-align: center;
    .skills-container {
        padding: 2em;
    
        .skills-card{
            background: color(secondary);
            padding: 2em;
            border-radius: 1em;
            margin-bottom: 2em;
            box-shadow: inset 0 0 10px color(accent-secondary);
            .icon{
                color: color(btn);
                font-size: 32px;    
            }
            ul li{
                margin: 0;
                padding: 0;
            }
            .icon-container {
                height: 100px;
                display: grid;
                place-content: center;
                margin: 0 auto;
                &.one {
                    width: 100px;
                }
                &.two {
                    width: 100px;
                }
                &.three {
                    width: 100px;
                }
            }
            .skills-subtitle {
                font-weight: bold;
                font-size: 20px;
                color: color(btn-dark);
            }
            .featured-desc {
                margin-bottom: 2em;
            }
        }
        .skills-card:hover{
            transition: all 0.2s ease-out;
            top: -4px;
            background-color: color(btn-light);
            color: color(secondary);
            .icon, .skills-subtitle{
                color: color(secondary);
            }
        }
    }
}




.portfolio {
    background: color(secondary);
    .portfolio-container {
        border-radius: 1em;
        margin-bottom: 2em;
        .ul{
            line-style-type: circle;
        }
        .portfolio-btn-container{
            margin-bottom: 1.5em;
        
            .button-portfolio{
                background:color(btn-dark);
                color: color(secondary);
                padding : 5px 10px;
                border-style: solid;
                border-radius: .5em;
                border-width : 1px;
                border-color : color(btn-dark);
                text-decoration : none;
                margin-right: 1em;
                // margin-bottom: 1em;
                // box-shadow: 1px 1px 5px rgb(84, 91, 133);
                width: fit-content;
            }
            .button-portfolio:hover{
                background:color(btn-light);
                color: color(secondary);
                border-color : color(btn-light);
                text-decoration: none;
                // box-shadow: 5px 5px 10px rgb(84, 91, 133);
            }
        }
        a{
            margin-left: -1em;
            img{
                border-radius: 1em;
                padding: 50px;
                transition: transform .2s;
                margin: 0 auto;
            }
            img:hover {
            transform: scale(2);
            margin-bottom: 1em;
            }
        }

        
    }
}
.portfolio-list{
    color: #8a8585;
    font-size: .8em;
    line-height: 1.8em;
    font-weight: 500;
    text-align: left;
    list-style-type: circle;
    margin-left: 1em;
}

#contact{
    margin-top: 1em;
}
.contact-container .php-email-form {
    width: 100%;
}

.contact-container .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact-container .php-email-form .validate {
    display: none;
    color: color(accent);
    margin: 0 0 15px 0;
    font-weight: bold;
    text-align: left;
    font-size: 15px;
}

.contact-container .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact-container .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact-container .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: color(accent-light);
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact-container .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact-container .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid color(accent-light);
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact-container .php-email-form input, .contact-container .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact-container .php-email-form input {
    height: 44px;
}

.contact-container .php-email-form textarea {
    padding: 10px 12px;
}

.contact-container .php-email-form button[type="submit"] {
    background: color(accent);
    border: 0;
    padding: 10px 28px;
    color: #fff;
    transition: 0.4s;
    border-radius: 10px;
    border: 2px solid color(accent);
}

.contact-container .php-email-form button[type="submit"]:hover {
    background: color(accent-dark);
    color: #fff;
    border: 2px solid color(accent-dark);
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: color(btn);
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    opacity: .5;
    transition: background 0.5s;
    z-index: 11;
    i{
        padding: 12px;
        color: #fff;
    }

}
.back-to-top:hover{
    opacity: 1;
}

  /* Prelaoder */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: black;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #0078ff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}



.footer-header {
    display: block;
    justify-content: space-between;
    padding: .5em 0 2em 0;
    ul {
        justify-content: center;
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }

}

@media only screen and (min-width: 400px) {
    header {
        display: flex;
        justify-content: space-between;
        padding: 2em;
    
        .logo {
            color: white;
            font-weight: bold;
            font-size: 1em;
            text-transform: uppercase;
        }
    
        ul {
            display: flex;
    
            a {
                display: block;
                padding: 0 1em;
    
            }
        }
    }
    .skills-card{
        margin-right: 2em;
    }
    .skills-card:last-child{
        margin-right:0 !important; 
    }
}

@media only screen and (min-width: 800px) {

    .hero h1{
        letter-spacing: 3px;
    }
    .meet {
        p {
            margin-left: 4em;
        }
    }
    .about-img{
        position: relative;
        height: auto;
        width: 600px;
    }

    .featured, .portfolio {
        text-align: left;
    }
    .featured, .portfolio-container {
        display: grid;
        grid-template-columns: 40% auto;
    }
    
    .featured-list{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 200px));
        margin-left: 2em;
        text-align: left;
        list-style: circle;
    }

    .left, .portfolio-left {
        display: grid;
        place-content: center;
    }

    .right {
        margin-left: 2em;
        margin-top: 1em;
    }

    .skills {
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;

    }

    .portfolio {
        padding-top: 7em;
    }
    .portfolio-container img {
        margin-left: 2em;
    }

}

@media only screen and (min-width: 1050px) {
    .hero {
        height: 90vh;
        .meet {
            p {
                margin-left: 4.5em;
            }
        }
    }

    .nav-container {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;

        header {
            background:  color(primary);
        }
    }
    header {
        padding: 2em 2em 2em 4em;
    }
    .social-header {
        padding: 2em 4em 2em 0;
    }
    section {
        padding: 4em;
    }

    .social-header {
        display: block;

        ul {
            display: flex;
            justify-content: space-between;
            width: 7em;
            float: right;

            img {
                width: 20px;
            }
        }
    }

    .hero {
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content {
            background: color(primary-light);
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1 {
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }
    .meet {
        margin: unset;
    }
    .hero-design {
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }

    .portfolio img {
        float: right;
        max-width: 500px;
    }
}

@media only screen and (min-width: 1250px) {
    header {
        padding: 2em 2em 2em 10em;
    }
    .social-header {
        padding: 2em 10em 2em 0;
    }
    section {
        padding: 10em 10em 4em 10em;
    }

    .hero .content {
        padding: 6em 8em 6em 10em;
    }
}

@media only screen and (min-width: 1550px) {
    header {
        padding: 2em 2em 2em 20em;
    }
    .social-header {
        padding: 2em 20em 2em 0;
    }
    section {
        padding: 6em 20em 4em 20em;
    }
    .hero .content {
        padding: 9em 20em 6em 20em;
    }

}  

.circle {
    animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
    from {
        transform: translate(262px, 798px);
        z-index: 5;
    }
    to {
        transform: translate(262px, 830px);
    }
}

